﻿@model PerformingArtsApplication.Models.ViewModels.DetailsStudent

@{
    ViewBag.Title = "Details";
}

<a class="backLink" href="/Student/List">< All Students</a>

<div class="actionBtns">
    <div class="updateBtn">
        <a href="/Student/Edit/@Model.SelectedStudent.StudentId">Update</a>
    </div>
    <div class="deleteBtn">
        <a href="/Student/DeleteConfirm/@Model.SelectedStudent.StudentId">Delete</a>
    </div>
</div>

<h2>@Model.SelectedStudent.FirstName @Model.SelectedStudent.LastName</h2>
<p>Birthday: @Model.SelectedStudent.Birthday.ToString("yyyy-MM-dd")</p>

<div>
    <h3>Performances</h3>
    @foreach (var performance in Model.PerformancesForStudent)
    {
        <a class="item" href="/Performance/Details/@performance.PerformanceId">@performance.PerformanceName</a><br />
    }
</div>

<div>
    <h3>Lessons</h3>
    @foreach (var lesson in Model.LessonsForStudent)
    {
        <a class="item" href="/Lesson/Details/@lesson.LessonId">@lesson.LessonName</a><br />
    }
</div>