﻿@model PerformingArtsApplication.Models.ViewModels.DetailsStudent

@{
    ViewBag.Title = "Details";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<a href="/Student/List">Go back</a>

<table border="1">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.SelectedStudent.StudentId</td>
            <td>@Model.SelectedStudent.FirstName @Model.SelectedStudent.LastName</td>
        </tr>
    </tbody>

</table>

<br />

<div>
    <h4>Performances</h4>
    @foreach (var performance in Model.PerformancesForStudent)
    {
        <a class="item" href="/Performance/Details/@performance.PerformanceId">@performance.PerformanceName</a><br />
    }
</div>

<br />

<div>
    <h4>Lessons</h4>
    @foreach (var lesson in Model.LessonsForStudent)
    {
        <a class="item" href="/Lesson/Details/@lesson.LessonId">@lesson.LessonName</a><br />
    }
</div>

<br />

<a href="/Student/Edit/@Model.SelectedStudent.StudentId" class="btn btn-success">Update</a>

<a href="/Student/DeleteConfirm/@Model.SelectedStudent.StudentId" class="btn btn-danger">Delete</a>