@model PerformingArtsApplication.Models.LessonDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are your sure your want to delete this lesson?</h2>

<h2>@Model.LessonName</h2>
<div>Lesson ID: @Model.LessonId</div>
<div>Lesson Time: @Model.LessonTime</div>
<div>Room: @Model.Room</div>
<div>Teacher ID: @Model.TeacherId</div>

<a href="/Lesson/List">Cancel</a>

<form action="/Lesson/Delete/@Model.LessonId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>