﻿@model PerformingArtsApplication.Models.ViewModels.DetailsPerformance

@{
    ViewBag.Title = "Details";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<a href="/Performance/List">Go back</a>

<table border="1">
    <thead>
        <tr>
            <th>Performance ID</th>
            <th>Performance Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.SelectedPerformance.PerformanceId</td>
            <td>@Model.SelectedPerformance.PerformanceName</td>
        </tr>
    </tbody>

</table>

<br />

<div>
    <h4>Students</h4>
    @foreach (var student in Model.StudentsInPerformance)
    {
        <a class="item" href="/Student/Details/@student.StudentId">@student.FirstName @student.LastName</a>
        <a class="xIcon" href="/Performance/Unassociate/@Model.SelectedPerformance.PerformanceId?StudentId=@student.StudentId">[x]</a><br />
    }
</div>

<br />

<div>
    <h4>Add new student to @Model.SelectedPerformance.PerformanceName</h4>
    <form action="/Performance/Associate/@Model.SelectedPerformance.PerformanceId" method="POST">
        <select name="StudentId">
            @foreach (var student in @Model.AvailableStudents)
            {
                <option value="@student.StudentId">@student.FirstName @student.LastName</option>
            }
        </select>
        <input type="submit" value="Associate Student" id="associateBtn" />
    </form>
</div>

<br />

<div>
    <h4>Showcases for this performance</h4>
    @foreach (var showcase in Model.PerformanceShowcases)
    {
        <a class="item" href="/Showcase/Details/@showcase.ShowcaseId">@showcase.ShowcaseName</a>
    }
</div>

<br />

<a href="/Performance/Edit/@Model.SelectedPerformance.PerformanceId" class="btn btn-success">Update</a>

<a href="/Performance/DeleteConfirm/@Model.SelectedPerformance.PerformanceId" class="btn btn-danger">Delete</a>