@*﻿@model IEnumerable<PerformingArtsApplication.Models.PerformanceDto>*@
@model PerformingArtsApplication.Models.ViewModels.PerformanceList

@{
    ViewBag.Title = "List";
}

<style>
    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Performances</h2>

<!--search bar-->
<form action="/Performance/List" method="GET">
    <input type="text" name="SearchKey" />
    <input class="searchBtn" type="submit" value="Search" />
</form>

<br />

<a href="/Performance/New">New Performance</a>

<br />

<div>
    @if (Model.Performances.Count() > 0 && Model.PageNum != null)
    {
        int PrevPage = Convert.ToInt32(Model.PageNum) - 1;
        int NextPage = Convert.ToInt32(Model.PageNum) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @Model.PageSummary
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>

<table border="1">
    <thead>
        <tr>
            <th>Performance ID</th>
            <th>Performance Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Performance in Model.Performances)
        {
            <tr>
                <td>@Performance.PerformanceId</td>
                <td><a href="/Performance/Details/@Performance.PerformanceId">@Performance.PerformanceName</a></td>
            </tr>
        }
    </tbody>

</table>

@*<table border="1">
    <thead>
        <tr>
            <th>Performance ID</th>
            <th>Performance Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PerformingArtsApplication.Models.PerformanceDto Performance in Model)
        {
            <tr>
                <td>@Performance.PerformanceId</td>
                <td><a href="/Performance/Details/@Performance.PerformanceId">@Performance.PerformanceName</a></td>
            </tr>
        }
    </tbody>

</table>*@